.row-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.row-container > * {
  margin-right: 5%;
}

table {
    width: 100%;
}
  
  .mat-header-cell {  
    background-color:#3f51b5;
    color:#ffffff;
    font-size: small;
  }
   
  .mat-column-id {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 28% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
  }
   
  .mat-column-name {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 30% !important;
     width: 20% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
  }

  .mat-column-measurementUnit {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-measurementFactor {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
   
  .mat-column-totalArea {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
   
  .mat-column-totalTissueArea {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    justify-content: flex-end;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-viableTissueArea {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    justify-content: flex-end;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-necroticTissueArea {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    justify-content: flex-end;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-necroticTissuePercentage {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    justify-content: flex-end;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  tr.image-element-row:hover {
    background: whitesmoke;
    cursor: pointer;
  }
  
  tr.image-element-row:active {
    background: #efefef;
  }
