.row-container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin-bottom: 1%;
}

table {
    width: 100%;
    table-layout: fixed;   
  }
  
  .mat-header-cell {  
    background-color:#3f51b5;
    color:#ffffff;
    font-size: small;
  }
     
  .mat-column-name {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 30% !important;
     width: 40% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
  }
   
  .mat-column-socialId {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 30% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-isAdmin {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-status {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
   
     
  tr.user-element-row:hover {
    background: whitesmoke;
  }
  
  tr.user-element-row:active {
    background: #efefef;
  }

  .mat-row.hovered {
    background: #eee;
    cursor: pointer;
  }

  .mat-row.highlighted {
    background: #999;
  }

  button.mat-menu-item{ outline:none; }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .table-container {
    height: 50%;
    overflow: auto;
  }


