table {
    width: 100%;
  }
  
  .mat-header-cell {  
    background-color:#3f51b5;
    color:#ffffff;
    font-size: small;
  }
   
  .mat-column-id {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 28% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
  }
   
  .mat-column-name {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 30% !important;
     width: 50% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
  }
   
  .mat-column-isStitched {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 35% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-actionsMenu {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    justify-content: flex-end;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
     
  tr.image-file-element-row:hover {
    background: whitesmoke;
  }
  
  tr.image-file-element-row:active {
    background: #efefef;
  }

  .mat-row.hovered {
    background: #eee;
    cursor: pointer;
  }

  .mat-row.highlighted {
    background: #999;
  }

  button.mat-menu-item{ outline:none; }
